<div class="animated fadeIn">
  <!--HEADER FOR ACTION BUTTONS-->
  <div>    
    <button type="button" class="btn btn-secondary" (click)="addNew()"><i class="icon-plus"></i> Baru</button>
    <button type="button" class="btn btn-primary" (click)="saveMenu()"><i class="icon-paper-plane"></i> Simpan</button>    
    <button type="button" class="btn btn-secondary" (click)="deleteMenu()"><i class="icon-trash"></i> Hapus</button>
  </div>
  <br/>
  <div class="row">
      <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> <strong> Daftar Menu</strong>
            </div>
            <div class="card-body">
              <div class="input-group">
                <input type="text" #searchBox (keyup.enter)="onSearchEnter(searchBox.value)" class="form-control form-control-sm" placeholder="Cari berdasarkan nama Menu">
                <span class="input-group-append">
                  <button class="btn btn-secondary btn-sm" type="button" (click)="selectMenu()"><i class="icon-magnifier"></i></button>
                </span>
              </div>
              <br/>
              <table class="table table-striped form-control-sm">                
                <tbody>
                  <tr *ngFor="let m of menus">
                    <td><a href="#" (click)="showMenu(m.menuId); false">{{m.menuName}}</a></td>
                  </tr>                  
                </tbody>
              </table>
              <pagination [boundaryLinks]="true" [rotate]="false" [totalItems]="totalItems" [formControl]="currentPage" (pageChanged)="pageChanged($event)" class="pagination-sm" [maxSize]="4"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
          </div>
        </div>
    
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <strong>Menu</strong>
          <small>{{mode.value}}</small>
        </div>
        <div class="card-body">
          <form [formGroup]="menuForm">            
            <div class="row">
              <div class="form-group col-md-3">
                <label for="menu-code">Kode Menu</label>
                <input type="text" formControlName="menuCode" class="form-control form-control-sm" id="menu-code">
              </div>
            </div>               
            <div class="row">
              <div class="form-group col-md-8">
                <label for="menu-name">Nama Menu</label>
                <input type="text" formControlName="menuName" class="form-control form-control-sm" id="menu-name">
              </div>
            </div>               
            <div class="row">
              <div class="form-group col-md-8">
                <label for="printout-name">Nama Cetak</label>
                <input type="text" formControlName="printoutName" class="form-control form-control-sm" id="printout-name">
              </div>
            </div>               
            <div class="row">
              <div class="form-group col-md-3">
                <label for="menu-price">Harga</label>
                <input type="text" prefix = "Rp. " mask = "comma_separator.2" formControlName="menuPrice" id="menu-price" class="form-control" style="text-align: right" placeholder="0">                
              </div>
            </div>    
          </form>
        </div>
      </div>
    </div><!--/.col-->    
  </div><!--/.row-->  
</div>
