<div class="animated fadeIn">
  <!--HEADER FOR ACTION BUTTONS-->
  <div>
    <button type="button" class="btn btn-secondary" (click)="addNew()"><i class="icon-plus"></i> Baru</button>
    <button type="button" class="btn btn-primary" (click)="saveMenu()"><i class="icon-paper-plane"></i> Simpan</button>
    <button type="button" class="btn btn-secondary" (click)="deleteMenu()"><i class="icon-trash"></i> Hapus</button>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <strong> Daftar Menu</strong>
        </div>
        <div class="card-body">
          <div class="input-group">
            <input type="text" #searchBox (keyup.enter)="onSearchEnter(searchBox.value)"
              class="form-control form-control-sm" placeholder="Cari berdasarkan nama Menu">
            <span class="input-group-append">
              <button class="btn btn-secondary btn-sm" type="button" (click)="selectMenu()"><i
                  class="icon-magnifier"></i></button>
            </span>
          </div>
          <br />
          <table class="table table-striped form-control-sm">
            <tbody>
              <tr *ngFor="let m of menus">
                <td><a href="#" (click)="showMenu(m.menuId); false">{{m.menuName}}</a></td>
              </tr>
            </tbody>
          </table>
          <pagination [boundaryLinks]="true" [rotate]="false" [totalItems]="totalItems" [formControl]="currentPage"
            (pageChanged)="pageChanged($event)" class="pagination-sm" [maxSize]="4" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <strong>Menu</strong>
          <small>{{mode.value}}</small>
        </div>
        <div class="card-body">
          <form [formGroup]="menuForm">
            <div class="row">
              <div class="form-group col-md-3">
                <label for="menu-code">Kode Menu</label>
                <input type="text" formControlName="menuCode" class="form-control form-control-sm" id="menu-code">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <label for="menu-name">Nama Menu</label>
                <input type="text" formControlName="menuName" class="form-control form-control-sm" id="menu-name">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <label for="printout-name">Nama Cetak</label>
                <input type="text" formControlName="printoutName" class="form-control form-control-sm"
                  id="printout-name">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="menu-price">Harga</label>
                <input type="text" prefix="Rp. " mask="comma_separator.2" formControlName="menuPrice" id="menu-price"
                  class="form-control" style="text-align: right" placeholder="0">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-sm" (click)="materialModal.show()"
                  style="margin-bottom: 10px;"><i class="icon-plus"></i> Add</button>
                <div class="table-responsive">
                  <table class="table table-striped form-control-sm">
                    <thead>
                      <tr class="d-flex">
                        <th class="col-md-1 text-left"></th>
                        <th class="col-md-6 text-left">Nama Material</th>
                        <th class="col-md-4 text-left">UoM</th>
                        <th class="col-md-1 text-right">Jumlah</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="d-flex" *ngFor="let md of materialFormArray.controls; let i = index">
                        <td class="col-md-1 text-left"><button class="btn btn-ghost-danger btn-sm"
                            (click)="deleteMaterial(i)"><i class="icon-trash"></i></button>
                        </td>
                        <ng-container [formGroup]="md">
                          <ng-container formGroupName="material">
                            <td class="col-md-6 text-left">
                            {{md.controls.material.value.materialName}}
                            </td>
                            <td class="col-md-4 text-left">
                              {{md.controls.material.value.uom}}
                            </td>
                            </ng-container>
                        </ng-container>
                        
                        <td class="col-md-1 text-left" [formGroup]="md">
                            <input type="text" mask="comma_separator.2" formControlName="quantity"
                              class="form-control form-control-sm text-right" placeholder="0">
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #materialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" (onShow)="onModalShow()">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">List Material</h4>
        <button type="button" class="close" (click)="materialModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" #searchBox (keyup.enter)="searchMaterial(searchBox.value)"
            class="form-control form-control-sm" placeholder="Cari berdasarkan kode material atau nama material">
          <span class="input-group-append">
            <button class="btn btn-secondary btn-sm" type="button" (click)="searchMaterial(searchBox.value)"><i
                class="icon-magnifier"></i></button>
          </span>
        </div>
        <br />
        <table class="table table-striped form-control-sm">
          <thead>
            <tr class="d-flex">
              <th class="col-md-1 text-left"></th>
              <th class="col-md-3 text-left">Kode Material</th>
              <th class="col-md-5 text-left">Nama Material</th>
              <th class="col-md-3 text-left">UoM</th>
            </tr>
          </thead>
        </table>
        <div class="table-responsive" style="height:300px;overflow-y: auto">
          <table class="table table-striped form-control-sm">
            <tbody>
              <tr class="d-flex" *ngFor="let m of list_material">
                <td class="col-md-1 text-left"><button [hidden]="m.deleted" class="btn btn-ghost-success btn-sm"
                    (click)="chooseMaterial(m.materialId)"><i class="icon-check"></i></button></td>
                <td class="col-md-3 text-left">{{m.materialCode}}</td>
                <td class="col-md-5 text-left">{{m.materialName}}</td>
                <td class="col-md-3 text-left">{{m.uom}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <pagination [boundaryLinks]="true" [rotate]="false" [totalItems]="totalMaterials"
          [formControl]="currentMaterialPage" (pageChanged)="pageChanged($event)" class="pagination-sm" [maxSize]="4"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
      <div class="modal-footer">
        <button #closeButton type="button" class="btn btn-primary" (click)="materialModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->