<div class="animated fadeIn">
  <!--HEADER FOR ACTION BUTTONS-->
  <div>    
    <button type="button" class="btn btn-secondary" (click)="addNew()"><i class="icon-plus"></i> Baru</button>
    <button type="button" class="btn btn-primary" (click)="saveUser()"><i class="icon-paper-plane"></i> Simpan</button>    
    <button type="button" class="btn btn-secondary" (click)="deleteUser()"><i class="icon-trash"></i> Hapus</button>
  </div>
  <br/>
  <div class="row">
      <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> <strong> Daftar User</strong>
            </div>
            <div class="card-body">
              <div class="input-group">
                <input type="text" #searchBox (keyup.enter)="onSearchEnter(searchBox.value)" class="form-control form-control-sm" placeholder="Cari berdasarkan nama user">
                <span class="input-group-append">
                  <button class="btn btn-secondary btn-sm" type="button" (click)="onSearchEnter(searchBox.value)"><i class="icon-magnifier"></i></button>
                </span>
              </div>
              <br/>
              <table class="table table-striped form-control-sm">
                <tbody>
                  <tr *ngFor="let u of users">
                    <td><a href="#" (click)="showUser(u.userId); false">{{u.userName}}</a></td>
                  </tr>                  
                </tbody>
              </table>
              <pagination [boundaryLinks]="true" [rotate]="false" [totalItems]="totalItems" [formControl]="currentPage" (pageChanged)="pageChanged($event)" class="pagination-sm" [maxSize]="4"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
          </div>
        </div>
    
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <strong>User</strong>
          <small>{{mode.value}}</small>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm">            
            <div class="row">
            <div class="form-group col-md-8">
                <label for="user-name">Nama</label>
                <input type="text" formControlName="userName" class="form-control form-control-sm" id="user-name">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <label for="user-password">Password</label>
                <input type="password" formControlName="userPassword" class="form-control form-control-sm" id="user-password">
              </div>
            </div>            
            <div class="row">
              <div class="form-group col-md-3" formGroupName="role">
                <label for="role">Role</label>
                <select id="role" class="form-control form-control-sm" formControlName="roleId">
                  <option *ngFor="let r of roles" [value]="r.roleId">{{r.roleName}}</option>
                </select>
              </div>
            </div>            
          </form>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->  
</div>
